<!-- Transport Popup -->
<div class="wms-srv-popup-holder" id="wms-srv-transport-popup" style="display: none;">
    <div class="wms-srv-popup-bg">
    </div>
    <div class="wms-srv-popup">
        <div class="wms-srv-popup-content">
            <!-- Popup Title -->
            <div class="wms-srv-popup-title">
                <div class="wms-srv-page-title">
                    <i class="fas fa-file-alt"></i><span>Transport Details</span>
                </div>
                <a href="#" title="Close" id="wms-srv-transport-popup-close" class="wms-srv-popup-close"><i
                        class="fas fa-times-circle"></i></a>
            </div>
            <!-- Popup Title -->
            <div class="wms-srv-popup-content-body" id="wms-srv-popup-content-body">
                <div id="popupContentDocument">
                    <div id="pnlTransport">
                        <!-- Grid -->
                        <div class="wms-srv-grid-holder pnlWmsHead" id="pnlWmsHead">
                            <div class="wms-srv-grid">
                                <!-- Object Head Data Will be Here -->
                                <div class="wms-srv-grid-header" style="text-align: center">
                                    <div class="wms-srv-grid-cell">Order Id</div>
                                    <div class="wms-srv-grid-cell">Customer PO</div>
                                    <div class="wms-srv-grid-cell">WarehouseNo</div>
                                    <div class="wms-srv-grid-cell">OrderDate</div>
                                    <div class="wms-srv-grid-cell">Created By</div>
                                    <div class="wms-srv-grid-cell">Customer Code</div>
                                    <div class="wms-srv-grid-cell">Dispatch ID</div>
                                    <div class="wms-srv-grid-cell">Shipping Address</div>
                                </div>
                                <div class="wms-srv-grid-row" style="text-align: center">
                                    <div class="wms-srv-grid-cell">56350</div>
                                    <div class="wms-srv-grid-cell"></div>
                                    <div class="wms-srv-grid-cell">10509</div>
                                    <div class="wms-srv-grid-cell">Mar 3 2022 12:00AM</div>
                                    <div class="wms-srv-grid-cell"></div>
                                    <div class="wms-srv-grid-cell">123456</div>
                                    <div class="wms-srv-grid-cell">78965</div>
                                    <div class="wms-srv-grid-cell"></div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <!-- Grid -->
                        <!-- Header Details -->
                        <!-- Grid -->
                        <div class="wms-srv-grid-holder pnlWmsDetail" id="pnlWmsDetail">

                            <div class="wms-srv-grid-scroller" style="width: 100%;">
                                <div class="wms-srv-grid" data-gridobjectid="gridObject_Inbound_PurchaseOrder_TRN">
                                    <div class="wms-srv-grid-header" style="text-align: center">
                                        <div class="wms-srv-grid-cell">Appoinment Detail</div>
                                        <div class="wms-srv-grid-cell">Appoinment Date</div>
                                        <div class="wms-srv-grid-cell">Trailer</div>
                                        <div class="wms-srv-grid-cell">Transporter Name</div>
                                        <div class="wms-srv-grid-cell">Transporter Remark</div>
                                        <div class="wms-srv-grid-cell">Dock No.</div>
                                        <div class="wms-srv-grid-cell">Airway Bill No.</div>
                                        <div class="wms-srv-grid-cell">Shipping Type</div>
                                        <div class="wms-srv-grid-cell">Shipping Date</div>
                                    </div>
                                    <div class="wms-srv-grid-row" style="text-align: center">
                                        <div class="wms-srv-grid-cell">
                                            <input type="text" value="" class="wms-srv-grid-cell-input">
                                        </div>
                                        <div class="wms-srv-grid-cell">
                                            <input type="text" value="1-Jan-2022" class="wms-srv-grid-cell-input">
                                        </div>
                                        <div class="wms-srv-grid-cell">
                                            <input type="text" value="" class="wms-srv-grid-cell-input">
                                        </div>
                                        <div class="wms-srv-grid-cell">
                                            <div class="wms-srv-suggestion-holder">
                                                <input type="text" data-prefix="CL" data-id="1329" value=""
                                                    class="wms-srv-grid-cell-input notranslate" disabled="disabled"><a
                                                    href="#"><i class="fas fa-search"></i></a>
                                            </div>
                                        </div>
                                        <div class="wms-srv-grid-cell">
                                            <input type="text" value="" class="wms-srv-grid-cell-input">
                                        </div>
                                        <div class="wms-srv-grid-cell">
                                            <input type="text" value="" class="wms-srv-grid-cell-input">
                                        </div>
                                        <div class="wms-srv-grid-cell">
                                            <input type="text" value="" class="wms-srv-grid-cell-input">
                                        </div>
                                        <div class="wms-srv-grid-cell">
                                            <input type="text" value="" class="wms-srv-grid-cell-input">
                                        </div>
                                        <div class="wms-srv-grid-cell">
                                            <input type="text" value="" class="wms-srv-grid-cell-input">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="wms-srv-grid-scroller" style="width: 100%;">
                                <div class="wms-srv-grid" data-gridobjectid="gridObject_Inbound_PurchaseOrder_TRN">
                                    <div class="wms-srv-grid-header" style="text-align: center">
                                        <div class="wms-srv-grid-cell">Exp Ship Dte</div>
                                        <div class="wms-srv-grid-cell">LR No.</div>
                                        <div class="wms-srv-grid-cell">InTime</div>
                                        <div class="wms-srv-grid-cell">OutTime</div>
                                        <div class="wms-srv-grid-cell">Driver Name</div>
                                        <div class="wms-srv-grid-cell">Seal No.</div>
                                        <div class="wms-srv-grid-cell">Bill Of Lading No.</div>
                                        <div class="wms-srv-grid-cell">PRO No</div>
                                        <div class="wms-srv-grid-cell">Freight Charges</div>
                                    </div>
                                    <div class="wms-srv-grid-row" style="text-align: center">
                                        <div class="wms-srv-grid-cell">
                                            <input type="text" value="" class="wms-srv-grid-cell-input">
                                        </div>
                                        <div class="wms-srv-grid-cell">
                                            <input type="text" value="" class="wms-srv-grid-cell-input">
                                        </div>
                                        <div class="wms-srv-grid-cell">
                                            <input type="text" value="" class="wms-srv-grid-cell-input">
                                        </div>
                                        <div class="wms-srv-grid-cell">
                                            <input type="text" value="" class="wms-srv-grid-cell-input">
                                        </div>
                                        <div class="wms-srv-grid-cell">
                                            <input type="text" value="" class="wms-srv-grid-cell-input">
                                        </div>
                                        <div class="wms-srv-grid-cell">
                                            <input type="text" value="" class="wms-srv-grid-cell-input">
                                        </div>
                                        <div class="wms-srv-grid-cell">
                                            <input type="text" value="" class="wms-srv-grid-cell-input">
                                        </div>
                                        <div class="wms-srv-grid-cell">
                                            <input type="text" value="" class="wms-srv-grid-cell-input">
                                        </div>
                                        <div class="wms-srv-grid-cell">
                                            <input type="text" value="" class="wms-srv-grid-cell-input">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="wms-srv-grid-scroller" style="width: 100%;">
                                <div class="wms-srv-grid" data-gridobjectid="gridObject_Inbound_PurchaseOrder_TRN">
                                    <div class="wms-srv-grid-header" style="text-align: center">
                                        <div class="wms-srv-grid-cell">Master Bill of Lading</div>
                                        <div class="wms-srv-grid-cell">COD Amount</div>
                                        <div class="wms-srv-grid-cell">Fee Terms</div>
                                        <div class="wms-srv-grid-cell">Trailer Loaded By</div>
                                        <div class="wms-srv-grid-cell">Freight Counted By</div>
                                        <div class="wms-srv-grid-cell">Counted By</div>
                                        <div class="wms-srv-grid-cell">Dispatch Plan </div>
                                        <div class="wms-srv-grid-cell">Shippment Tracking No.</div>
                                    </div>
                                    <div class="wms-srv-grid-row" style="text-align: center">
                                        <div class="wms-srv-grid-cell">
                                            <select class="wms-srv-input wms-srv-search-filter notranslate"
                                                id="ddlfilter">
                                                <option value="All">-- NO --</option>
                                                <option value=""></option>
                                                <option value=""></option>
                                                <option value=""></option>
                                                <option value=""></option>
                                                <option value=""></option>
                                                <option value=""></option>
                                                <option value=""></option>
                                                <option value=""></option>
                                            </select>
                                        </div>
                                        <div class="wms-srv-grid-cell">
                                            <input type="text" value="" class="wms-srv-grid-cell-input">
                                        </div>
                                        <div class="wms-srv-grid-cell">
                                            <input type="text" value="" class="wms-srv-grid-cell-input">
                                        </div>
                                        <div class="wms-srv-grid-cell">
                                            <input type="text" value="" class="wms-srv-grid-cell-input">
                                        </div>
                                        <div class="wms-srv-grid-cell">
                                            <input type="text" value="" class="wms-srv-grid-cell-input">
                                        </div>
                                        <div class="wms-srv-grid-cell">
                                            <input type="text" value="" class="wms-srv-grid-cell-input">
                                        </div>
                                        <div class="wms-srv-grid-cell">

                                            <select class="wms-srv-input wms-srv-search-filter notranslate"
                                                id="ddlfilter">
                                                <option value="All">-- Select --</option>
                                                <option value=""></option>
                                                <option value=""></option>
                                                <option value=""></option>
                                                <option value=""></option>
                                                <option value=""></option>
                                                <option value=""></option>
                                                <option value=""></option>
                                                <option value=""></option>
                                            </select>
                                        </div>
                                        <div class="wms-srv-grid-cell">
                                            <input type="text" value="" class="wms-srv-grid-cell-input">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div style="text-align: center">
                                <button class="wms-srv-input wms-srv-button wms-srv-highlight-btn-secondary "
                                    type="button" title="Save" data-prefix="MO[MKCM--wmscmm--CO]"><i
                                        class="fas fa-check-circle"></i><span>Save</span></button>
                            </div>
                            <div class="wms-srv-grid-pager">
                                <span class="wms-srv-pager-records">1-1 of 0 Records</span>
                                <span class="wms-srv-empty-space"></span>
                                <span class="wms-srv-pager-links"><a href="#" data-page="firstpage"><i
                                            class="fas fa-angle-double-left"></i></a><a href="#" data-page="previous"><i
                                            class="fas fa-angle-left"></i></a><a href="#" class="wms-srv-active"
                                        data-page="1">1</a><a href="#" data-page="next"><i
                                            class="fas fa-angle-right"></i></a><a href="#" data-page="lastpage"><i
                                            class="fas fa-angle-double-right"></i></a></span>
                                <span class="wms-srv-empty-space"></span>
                                <input type="text" name="txtGridPageNo" class="wms-srv-input" value="0"
                                    style="width: 80px;">
                                <a href="#" title="Jump To" class="wms-srv-pager-go"><i
                                        class="fas fa-play-circle"></i></a>
                            </div>
                        </div>
                        <!-- Grid -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Transport Popup -->