.wms-srv-upload
{
    margin-left: 27px;
    margin-top: -12px;
}
#wms-srv-upload1
{
    margin-left: 595px;
    margin-bottom: 80px;
    margin-top: 23px;
}

.headGridBroder
{
  border: 1px solid #a5a5a5;
}

.btnClick {
  border: 1px solid #ffffff;
  background-color: #178fff;
  color: #ffffff;
  font-weight: 600;
  padding: 7px;
  border-radius: 6px;
  margin-bottom: 15px;
}
.laeblDemand
{
  font-weight: bold;
  margin-bottom: 5px;
}
.gridBorder
{
  border: 1px solid #a5a5a5;
  padding: 5px;
  font-size: 16px;
}