<!-- Content Holder -->
<div class="wms-srv-content-area pnlProduction" >
    <!-- Content Area -->

    <div class="container-fluid wms-srv-dashboard-panel">
        <div class="row">
            <div class="col-md-4 nopadding">
                <!-- Page Title -->
                <div class="wms-srv-page-title">
                    <i class="fas fa-exchange-alt"></i><span class="wms-srv-data-title">Production</span>
                </div>
                <!-- Page Title -->
            </div>
            <div class="col-md-8 nopadding">
            </div>
        </div>
    </div>
    <br>
    <!-- Head Grid -->
    <!-- Tab for Transfer -->
    <div class="transferMenuItems">
        <div class="container" style="max-width: 100% !important;">
            <div class="row">
                <div class="col-md-6">
                    <a class="listTab listActiveTab" data-tab="ProductionRequest"><i class="fas fa-exchange-alt"></i> Production
                        Request</a>
                        
                        
                </div>
                <div class="col-md-6" style="display: none;">
                    <a class="listTab " data-tab="ProductionIssue"><i class="fas fa-boxes"></i> Production Issue</a> 
                   
                </div>
            </div>
        </div>
    </div>
</div>