.reportCategory {
	background-color: #efefef;
	padding: 10px 0px;
}

.reportCategory a {
	display: block;
	color: #000000;
	font-size: 14px;
	padding: 10px 30px;
}

.reportCategory i {
	margin-right: 10px;
}

.themWMSSearchReportHolder {
	position: static;
}

.themeWMSSearchReport {
	padding: 10px 20px;
	background-color: #efefef;

}

.themWMSSearchReport {
	min-width: 250px !important;
}

.themWMSSearchReportHolder {
	background-color: #ffffff;
	margin: 10px 30px;
}

.themWMSSearchReportHolder i {
	margin-right: 10px;
}


.printablesType {
	border: solid 1px #cccccc;
	margin: 10px 20px;
	font-size: 18px !important;
	box-shadow: 5px 5px 5px #cccccc;
}

.printablesType i {
	font-size: 20px !important;
	color: #00acd7;
	margin-right: 5px;
	padding: 20px;
	background-color: #fbfafa;
	border-right: solid 1px #cccccc;
}

.printablesTitle {
	font-size: 14px !important;
	color: #000000;
	display: inline;
}

/* BOX STYLE FOR LIST */



.wms-srv-outboundApp {
	width: 129px;
	display: inline-flex;
	margin-left: 4px
}

.wms-srv-workflow {
	width: 233px;
	margin-left: 13px
}

.wms-srv-checkbox {
	margin-right: 5px;
}

.wms-srv-radio {
	margin-left: 12px;
}

.wms-srv-radio:first-child {
	/* margin-left: 35px; */
}

.wms-srv-checkbox {
	/* margin-left: 35px; */
	margin-left: 12px;
}

.wms-srv-businessrule-box i {
	font-size: 20px !important;
	color: #00acd7;
	margin-right: 5px;
	padding: 20px 10px;
	background-color: #fbfafa;
	border-right: solid 1px #cccccc;
	width: 70px;
	text-align: center;
	width: 45px;
}

.wms-srv-businessrule-box {
	display: block;
	font-size: 16px !important;
	font-family: Arial !important;
	border-bottom: solid 1px #cccccc;
	cursor: pointer;
	border: solid 1px #cccccc;
	margin: 10px 0px;
	font-size: 14px !important;
	box-shadow: 5px 5px 5px #cccccc;
	background-color: #ffffff;
	display: block;
	margin-left: 11px;
	margin-bottom: 20px;
	margin-right: 20px;
	border-radius: 12px;
	overflow: auto;
}

.wms-srv-businessrule-content {
	border-top: solid 1px #cccccc;
	padding: 20px 20px 20px 0px;
	border-left: solid 46px #efefef;
}