<div id="pnlAdministrator" class="wmsMasterTypePage" style="display: block;">
<div class="wms-srv-content-area pnlInbound" id="pnlAppointmentList">
    <div class="container-fluid wms-srv-dashboard-panel">
        <div class="row">
            <div class="col-md-4 nopadding">
                <!-- Page Title -->
                <div class="wms-srv-page-title">
                    <i class="fas fa-user-cog"></i><span class="wms-srv-data-title">Administrator</span>
                </div>
                <!-- Page Title -->
            </div>
            <div class="col-md-8 nopadding">

            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="adminMenu">
                    <div class="adminMenuTitle">
                        <i class="fas fa-table"></i> Customer Master
                    </div>
                    <div class="adminMenuItems" id="grpAdminCustomerMaster">
                      
                    </div>
                </div>
            </div>            
            <div class="col-md-4">
                <div class="adminMenu">
                    <div class="adminMenuTitle">
                        <i class="fas fa-print"></i> SKU Management
                    </div>
                    <div class="adminMenuItems" id="grpAdminSkuManagement">
                        
                    </div>
                </div>
            </div>
			<div class="col-md-4">
                <div class="adminMenu">
                    <div class="adminMenuTitle">
                        <i class="fas fa-tools"></i> Utility
                    </div>
                    <div class="adminMenuItems" id="grpAdminUtility">
                       
                    </div>
                </div>
            </div>
        </div>
		<div class="row">
            <div class="col-md-4">
                <div class="adminMenu">
                    <div class="adminMenuTitle">
                        <i class="fas fa-table"></i> User Management
                    </div>
                    <div class="adminMenuItems" id="grpAdminUserManagement">
                      
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="adminMenu">
                    <div class="adminMenuTitle">
                        <i class="fas fa-tools"></i> Interface Management
                    </div>
                    <div class="adminMenuItems" id="grpAdminInterfaceManagement">
                       
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="adminMenu">
                    <div class="adminMenuTitle">
                        <i class="fas fa-print"></i> Help
                    </div>
                    <div class="adminMenuItems" id="grpAdminHelp">
                        
                    </div>
                </div>
            </div>
        </div>
		<!-- Add New Row Here -->
    </div>
</div>
</div>