<div id="pnlApprovalMaster" class="wmsMasterTypePage" style="display: none;">
    <div class="wms-srv-content-area pnlInbound">
        <!-- Dashboard Area -->
        <div class="container-fluid wms-srv-dashboard-panel">
            <div class="row">
                <div class="col-md-4 nopadding">
                    <!-- Page Title -->
                    <div class="wms-srv-page-title">
                        <i class="fas fa-user"></i><span class="wms-srv-data-title">Approval Level</span>
                    </div>
                    <!-- Page Title -->
                </div>
                <div class="col-md-8 nopadding">
                </div>
            </div>
        </div>
        <!-- Dashboard Area -->
        <!-- Head Grid -->
        <div class="wms-srv-grid-holder pnlWmsHead" id="pnlWmsHead" style="display: none;">
            <div class="wms-srv-grid">
                <!-- Object Head Data Will be Here -->
            </div>
        </div>
        <br>
        <!-- Head Grid -->
        <!-- Grid -->
        <div class="wms-srv-obj-main-grid pnlWmsDetail">
            <div class="wms-srv-grid-action-panel">
                <div class="wms-srv-grid-common-action">
                    <a href="#" class="wms-srv-icononly">
                        <i class="fas fa-list"></i>
                    </a>
                </div>
                <div class="wms-srv-search">
                    <label> Search Filter: </label>
                    <select type="text" id="ddlsearch" class="wms-srv-input wms-srv-search-filter">
                        <option value="">--Select Filter--</option>
                        <option value="EmployeeName">Employee Name</option>
                        <option value="Employee ID">Employee ID</option>
                        <option value="EmailID">Email ID</option>
                    </select>
                    <input type="text" value="" id="txtvalue" class="wms-srv-input wms-srv-simple-search"><a href="#"
                        data-prefix="SE">
                        <i class="fas fa-search" title="Search" onclick=""></i>
                    </a>
                </div>
                <button class="wms-srv-input" title="Add New" type="button"
                    onclick="openApprovaladdnew();" style="color: white;background-color: #6ebf49;">
                    <span>Add New</span>
                </button>

                <div class="wms-srv-grid-title">
                    Approval Level List
                </div>
            </div>
            <div class="wms-srv-grid-scroller">
                <div class="wms-srv-grid" id="" style="text-align: center;">
                    <div class="wms-srv-grid-header">
                        <div class="wms-srv-grid-cell">Employee ID</div>
                        <div class="wms-srv-grid-cell">Employee Name</div>
                        <div class="wms-srv-grid-cell">Email ID</div>
                        <div class="wms-srv-grid-cell">Mobile No</div>
                        <div class="wms-srv-grid-cell">Department</div>
                        <div class="wms-srv-grid-cell">Approval Level</div>
                        <div class="wms-srv-grid-cell">Approval Logic</div>
                        <div class="wms-srv-grid-cell">Active</div>
                        <div class="wms-srv-grid-cell">Action</div>
                    </div>
                    <div class="wms-srv-grid-row" style="text-align: center;">
                        <div class="wms-srv-grid-cell"></div>
                        <div class="wms-srv-grid-cell">MME</div>
                        <div class="wms-srv-grid-cell">Support@brilliantinfosys.com</div>
                        <div class="wms-srv-grid-cell">9338388383</div>
                        <div class="wms-srv-grid-cell">No</div>
                        <div class="wms-srv-grid-cell">1</div>
                        <div class="wms-srv-grid-cell">OR</div>
                        <div class="wms-srv-grid-cell">Yes</div>
                        <div class="wms-srv-grid-cell">
                            <div class="wms-srv-grid-action">
                                <i class="fas fa-edit" title="Edit" onclick="openApprovaledit();"></i>
                            </div>
                        </div>
                    </div>           
                </div>
            </div>
        </div>
        <!-- Grid -->
    </div>
    <!-- ALL POPUP AREA -->

    <!--Add New popup-->
    <div class="wms-srv-popup-holder" id="wms-srv-Approval-New-popup" style="display:none;">
        <div class="wms-srv-popup-bg">
        </div>
        <div class="wms-srv-popup">
            <div class="wms-srv-popup-content">
                <div class="wms-srv-popup-title">
                    <div class="wms-srv-page-title">
                        <i class="fas fa-user"></i><span>Approval Level Details</span>
                    </div>
                    <a href="#" title="Close" id="wms-srv-Approval-New-popup-close" class="wms-srv-popup-close"><i
                            class="fas fa-times-circle"></i></a>
                </div>
                <div class="wms-srv-popup-content-body" id="wms-srv-popup-content-body">
                    <div class="wms-srv-grid-holder pnlWmsDetail" id="wms-srv-edit-popup">
                        <div class="wms-srv-grid">
                            <div class="wms-srv-grid-header">
                                <div class="wms-srv-grid-cell" style="text-align: center;">Customer</div>
                                <div class="wms-srv-grid-cell" style="text-align: center;">Department </div>
                                <div class="wms-srv-grid-cell" style="text-align: center;">No. Of Approval Level</div>
                                <div class="wms-srv-grid-cell" style="text-align: center;">Current Approval Level</div>
                            </div>
                            <div class="wms-srv-grid-row">
                                <div class="wms-srv-grid-cell">
                                    <select class="wms-srv-grid-cell-input">
                                        <option value="0">-Select-</option>
                                        <option value="">ProjectType1</option>
                                        <option value="">ProjectType2</option>
                                    </select>
                                </div>
                                <div class="wms-srv-grid-cell">
                                    <select class="wms-srv-grid-cell-input">
                                        <option value="0">-Select-</option>
                                        <option value="">ProjectType1</option>
                                        <option value="">ProjectType2</option>
                                    </select>
                                </div>
                                <div class="wms-srv-grid-cell">
                                    <input type="text" value="" id=""
                                        class="wms-srv-grid-cell-input" />
                                </div>
                                <div class="wms-srv-grid-cell">
                                    <input type="text" value="" id=""
                                        class="wms-srv-grid-cell-input" />
                                </div>             
                            </div>
                        </div>
                        <br/>
                        <div class="wms-srv-grid">
                            <div class="wms-srv-grid-header">
                                <div class="wms-srv-grid-cell" style="text-align: center;">No Of Approver</div>
                                <div class="wms-srv-grid-cell" style="text-align: center;">Approval Logic</div>
                            </div>
                            <div class="wms-srv-grid-row">
                                <div class="wms-srv-grid-cell">
                                    <input type="text" value="" id=""
                                        class="wms-srv-grid-cell-input" />
                                </div>
                                <div class="wms-srv-grid-cell" style="text-align: center;"> 

                                    <!-- Radio Buttons -->
                                    <label>
                                        <input type="radio" name="choice" value="option1" required> And
                                    </label>
                                    <label>
                                        <input type="radio" name="choice" value="option2"> OR
                                    </label>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="btnSaveCustomerMasterHolder" style="text-align:center;">
                            <button class="wms-srv-input" type="button" title="Add User" style="color: white;background-color: #6ebf49;">
                                <span>Add User</span>
                            </button>
                        </div>
                        <br />
                        <div class="wms-srv-popup-content">
                            <div class="wms-srv-popup-content-body" id="wms-srv-popup-content-body">
                                <div class="wms-srv-grid-holder pnlWmsDetail" id="">
                                    <!-- Popup Content Will be Here -->
                                    <div class="wms-srv-grid-holder pnlWmsDetail">
                                        <div class="wms-srv-obj-main-grid pnlWmsDetail">
                                            <div class="wms-srv-grid-action-panel">
                                                <div class="wms-srv-grid-title">
                                                    Select Approvers
                                                    <!-- <button class="wms-srv-input" type="button"
                                                        style="background-color: #6ebf49;color:white;margin-left: 1008px;"
                                                        title="Add Items to list">
                                                        <span>Add Items to list&nbsp;</span>
                                                    </button> -->
                                                </div>
                                            </div>
                                            <div class="wms-srv-grid">
                                                <div class="wms-srv-grid-header">
                                                    <!-- <div class="wms-srv-grid-cell" style="text-align: center;">SrNo
                                                    </div> -->
                                                    <div class="wms-srv-grid-cell" style="text-align: center;">Employee ID
                                                    </div>
                                                    <div class="wms-srv-grid-cell" style="text-align: center;">Employee Name</div>
                                                    <div class="wms-srv-grid-cell" style="text-align: center;">Email ID
                                                        </div>
                                                    <div class="wms-srv-grid-cell" style="text-align: center;">Mobile No</div>
                                                    <div class="wms-srv-grid-cell" style="text-align: center;">Department
                                                        </div>
                                                    <div class="wms-srv-grid-cell" style="text-align: center;">Approval Level</div>
                                                    <div class="wms-srv-grid-cell" style="text-align: center;">Approval Logic
                                                    </div>
                                                
                                                    <div class="wms-srv-grid-cell" style="text-align: center;">Active
                                                    </div>
        
                                                    <div class="wms-srv-grid-cell" style="text-align: center;">Action
                                                    </div>
                                                </div>
                                                <div class="wms-srv-grid-row">
                                                    <!-- <div class="wms-srv-grid-cell">1</div> -->
                                                    <div class="wms-srv-grid-cell">1332</div>
                                                    <div class="wms-srv-grid-cell">Ajit</div>
                                                    <div class="wms-srv-grid-cell">Support@Brilliantinfosys.com</div>
                                                    <div class="wms-srv-grid-cell">983737374</div>
                                                    <div class="wms-srv-grid-cell"></div>
                                                    <div class="wms-srv-grid-cell">1</div>
                                                    <div class="wms-srv-grid-cell">OR</div>
                                                    <div class="wms-srv-grid-cell">Yes</div>
                                                    <div class="wms-srv-grid-cell" style="text-align: center;"> 
                                                       <i class="fas fa-times-circle"></i> 
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Popup Content Will be Here -->
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Add New popup-->

    <!-- Edit popup -->
    <div class="wms-srv-popup-holder" id="wms-srv-Approval-edit-popup" style="display:none;">
        <div class="wms-srv-popup-bg">
        </div>
        <div class="wms-srv-popup">
            <div class="wms-srv-popup-content">
                <div class="wms-srv-popup-title">
                    <div class="wms-srv-page-title">
                        <i class="fas fa-user"></i><span>Approval Level Details</span>
                    </div>
                    <a href="#" title="Close" id="wms-srv-Approval-edit-popup-close" class="wms-srv-popup-close"><i
                            class="fas fa-times-circle"></i></a>
                </div>
                <div class="wms-srv-popup-content-body" id="wms-srv-popup-content-body">
                    <div class="wms-srv-grid-holder pnlWmsDetail" id="wms-srv-edit-popup">
                        <div class="wms-srv-grid">
                            <div class="wms-srv-grid-header">
                                <div class="wms-srv-grid-cell" style="text-align: center;">Customer</div>
                                <div class="wms-srv-grid-cell" style="text-align: center;">Department </div>
                                <div class="wms-srv-grid-cell" style="text-align: center;">No. Of Approval Level</div>
                                <div class="wms-srv-grid-cell" style="text-align: center;">Current Approval Level</div>
                            </div>
                            <div class="wms-srv-grid-row">
                                <div class="wms-srv-grid-cell">
                                    <select id="" class="wms-srv-grid-cell-input">
                                        <option value="0">-Select-</option>
                                        <option value="10287">ABcust1</option>
                                        <option value="10290">Abhijit Contact</option>
                                        <option value="10295">Abhijit Customer ecommerce</option>
                                        <option value="10289">Abhijit_Customer</option>
                                        <option value="10296">Abhjit Customer ecomm</option>
                                        <option value="10305">AKCUST</option>
                                        <option selected="selected" value="10299">AMCustomer</option>
                                        <option value="10298">BalajiGWC</option>
                                        <option value="10301">Brilliant Technical</option>
                                        <option value="10274">Brillint_Info</option>
                                        <option value="10281">CDS GWC</option>
                                        <option value="10278">chetan infosys</option>
                                        <option value="10314">CUST_DUMMY</option>
                                        <option value="10315">CUST_DUMMY1</option>
                                        <option value="10316">CUSTGK</option>
                                        <option value="10286">customer1</option>
                                        <option value="10288">customer2</option>
                                        <option value="10223">Deliopolise</option>
                                        <option value="10280">DELL</option>
                                        <option value="10279">DSK HOMES</option>
                                        <option value="10313">DUMMY</option>
                                        <option value="10311">Galib</option>
                                        <option value="10312">Galib_Test</option>
                                        <option value="10252">GPS</option>
                                        <option value="10272">GPTEST</option>
                                        <option value="10308">GvbTest</option>
                                        <option value="10233">GWC ECOMMERCE</option>
                                        <option value="10253">GWC GPS</option>
                                        <option value="10202">GWC Test</option>
                                        <option value="10322">GWC@123</option>
                                        <option value="10320">GWC@Testing </option>
                                        <option value="10257">GWC_HMC</option>
                                        <option value="10319">GWCTesting</option>
                                        <option value="10266">MTEST</option>
                                        <option value="10277">OMS_WMS PVT Ltd</option>
                                        <option value="10276">OMS_WMS_Company pvt ltd</option>
                                        <option value="10284">OPtest</option>
                                        <option value="10318">ORDERGK</option>
                                        <option value="10285">OSPtest</option>
                                        <option value="10294">PCC</option>
                                        <option value="10293">Pooja_D</option>
                                        <option value="10291">PoojaD</option>
                                        <option value="10297">PoojaE-com</option>
                                        <option value="10273">QAcustmer</option>
                                        <option value="10206">Qafco</option>
                                        <option value="10140">QNBN</option>
                                        <option value="10302">RJCustomer</option>
                                        <option value="10282">RMS</option>
                                        <option value="10275">SJCustomer</option>
                                        <option value="10271">SJTEST</option>
                                        <option value="10303">SK CUST</option>
                                        <option value="10304">SK CUST1</option>
                                        <option value="10292">Suraj Cust</option>
                                        <option value="10300">TATAneo</option>
                                        <option value="10321">Test GWC</option>
                                        <option value="10310">Test_Customer@99</option>
                                        <option value="10283">TestC0709</option>
                                        <option value="10306">TEstCompany</option>
                                        <option value="10307">TestCustomer</option>
                                        <option value="10317">TESTGK</option>
                                        <option value="10261">Testvodafone2</option>
                                        <option value="10309">TusharW</option>
                                        <option value="10204">Vodafone Commercial</option>
                                        <option value="10153">Vodafone Technical</option>
                        
                                    </select>
                                </div>
                                <div class="wms-srv-grid-cell">
                                    <select id="" class="wms-srv-grid-cell-input">
                                        <option value="0">-Select-</option>
                                        <option value="10287">ABcust1</option>
                                        <option value="10290">Abhijit Contact</option>
                                        <option value="10295">Abhijit Customer ecommerce</option>
                                        <option value="10289">Abhijit_Customer</option>
                                        <option value="10296">Abhjit Customer ecomm</option>
                                        <option selected="selected" value="10305">AKCUST</option>
                                        <option value="10299">AMCustomer</option>
                                        <option value="10298">BalajiGWC</option>
                                        <option value="10301">Brilliant Technical</option>
                                        <option value="10274">Brillint_Info</option>
                                        <option value="10281">CDS GWC</option>
                                        <option value="10278">chetan infosys</option>
                                        <option value="10314">CUST_DUMMY</option>
                                        <option value="10315">CUST_DUMMY1</option>
                                        <option value="10316">CUSTGK</option>
                                        <option value="10286">customer1</option>
                                        <option value="10288">customer2</option>
                                        <option value="10223">Deliopolise</option>
                                        <option value="10280">DELL</option>
                                        <option value="10279">DSK HOMES</option>
                                        <option value="10313">DUMMY</option>
                                        <option value="10311">Galib</option>
                                        <option value="10312">Galib_Test</option>
                                        <option value="10252">GPS</option>
                                        <option value="10272">GPTEST</option>
                                        <option value="10308">GvbTest</option>
                                        <option value="10233">GWC ECOMMERCE</option>
                                        <option value="10253">GWC GPS</option>
                                        <option value="10202">GWC Test</option>
                                        <option value="10322">GWC@123</option>
                                        <option value="10320">GWC@Testing </option>
                                        <option value="10257">GWC_HMC</option>
                                        <option value="10319">GWCTesting</option>
                                        <option value="10266">MTEST</option>
                                        <option value="10277">OMS_WMS PVT Ltd</option>
                                        <option value="10276">OMS_WMS_Company pvt ltd</option>
                                        <option value="10284">OPtest</option>
                                        <option value="10318">ORDERGK</option>
                                        <option value="10285">OSPtest</option>
                                        <option value="10294">PCC</option>
                                        <option value="10293">Pooja_D</option>
                                        <option value="10291">PoojaD</option>
                                        <option value="10297">PoojaE-com</option>
                                        <option value="10273">QAcustmer</option>
                                        <option value="10206">Qafco</option>
                                        <option value="10140">QNBN</option>
                                        <option value="10302">RJCustomer</option>
                                        <option value="10282">RMS</option>
                                        <option value="10275">SJCustomer</option>
                                        <option value="10271">SJTEST</option>
                                        <option value="10303">SK CUST</option>
                                        <option value="10304">SK CUST1</option>
                                        <option value="10292">Suraj Cust</option>
                                        <option value="10300">TATAneo</option>
                                        <option value="10321">Test GWC</option>
                                        <option value="10310">Test_Customer@99</option>
                                        <option value="10283">TestC0709</option>
                                        <option value="10306">TEstCompany</option>
                                        <option value="10307">TestCustomer</option>
                                        <option value="10317">TESTGK</option>
                                        <option value="10261">Testvodafone2</option>
                                        <option value="10309">TusharW</option>
                                        <option value="10204">Vodafone Commercial</option>
                                        <option value="10153">Vodafone Technical</option>
                        
                                    </select>
                                </div>
                                <div class="wms-srv-grid-cell">
                                    <input type="text" value="2" id=""
                                        class="wms-srv-grid-cell-input" />
                                </div>
                                <div class="wms-srv-grid-cell">
                                    <select class="wms-srv-grid-cell-input">
                                        <option value="0">-Select-</option>
                                        <option selected="selected" value="1">1</option>
                                        <option value="">2</option>
                                    </select>
                                </div>             
                            </div>
                        </div>
                        <br/>
                        <div class="wms-srv-grid">
                            <div class="wms-srv-grid-header">
                                <div class="wms-srv-grid-cell" style="text-align: center;">No Of Approver</div>
                                <div class="wms-srv-grid-cell" style="text-align: center;">Approval Logic</div>
                            </div>
                            <div class="wms-srv-grid-row">
                                <div class="wms-srv-grid-cell">
                                    <input type="text" value="2" id=""
                                        class="wms-srv-grid-cell-input" />
                                </div>
                                <div class="wms-srv-grid-cell" style="text-align: center;"> 

                                    <!-- Radio Buttons -->
                                    <label>
                                        <input type="radio" name="choice" value="option1" required checked> And
                                    </label>
                                    <label>
                                        <input type="radio" name="choice" value="option2"> OR
                                    </label>
                                </div>
                                
                            </div>
                        </div>
                        <br />
                        <div class="btnSaveCustomerMasterHolder" style="text-align:center;">
                            <button class="wms-srv-input" type="button" title="Add User" style="color: white;background-color: #6ebf49;">
                                <span>Add User</span>
                            </button>
                        </div>
                        <br>
                        <div class="wms-srv-popup-content">
                            <div class="wms-srv-popup-content-body" id="wms-srv-popup-content-body">
                                <div class="wms-srv-grid-holder pnlWmsDetail" id="">
                                    <!-- Popup Content Will be Here -->
                                    <div class="wms-srv-grid-holder pnlWmsDetail">
                                        <div class="wms-srv-obj-main-grid pnlWmsDetail">
                                            <div class="wms-srv-grid-action-panel">
                                                <div class="wms-srv-grid-title">
                                                    Select Approvers
                                                    <!-- <button class="wms-srv-input" type="button"
                                                        style="background-color: #6ebf49;color:white;margin-left: 1008px;"
                                                        title="Add Items to list">
                                                        <span>Add Items to list&nbsp;</span>
                                                    </button> -->
                                                </div>
                                            </div>
                                            <div class="wms-srv-grid">
                                                <div class="wms-srv-grid-header">
                                                    <!-- <div class="wms-srv-grid-cell" style="text-align: center;">SrNo
                                                    </div> -->
                                                    <div class="wms-srv-grid-cell" style="text-align: center;">Employee ID
                                                    </div>
                                                    <div class="wms-srv-grid-cell" style="text-align: center;">Employee Name</div>
                                                    <div class="wms-srv-grid-cell" style="text-align: center;">Email ID
                                                        </div>
                                                    <div class="wms-srv-grid-cell" style="text-align: center;">Mobile No</div>
                                                    <div class="wms-srv-grid-cell" style="text-align: center;">Department
                                                        </div>
                                                    <div class="wms-srv-grid-cell" style="text-align: center;">Approval Level</div>
                                                    <div class="wms-srv-grid-cell" style="text-align: center;">Approval Logic
                                                    </div>
                                                
                                                    <div class="wms-srv-grid-cell" style="text-align: center;">Active
                                                    </div>
        
                                                    <div class="wms-srv-grid-cell" style="text-align: center;">Action
                                                    </div>
                                                </div>
                                                <div class="wms-srv-grid-row">
                                                    <!-- <div class="wms-srv-grid-cell">1</div> -->
                                                    <div class="wms-srv-grid-cell">1332</div>
                                                    <div class="wms-srv-grid-cell">Ajit</div>
                                                    <div class="wms-srv-grid-cell">Support@Brilliantinfosys.com</div>
                                                    <div class="wms-srv-grid-cell">983737374</div>
                                                    <div class="wms-srv-grid-cell"></div>
                                                    <div class="wms-srv-grid-cell">1</div>
                                                    <div class="wms-srv-grid-cell">OR</div>
                                                    <div class="wms-srv-grid-cell">Yes</div>
                                                    <div class="wms-srv-grid-cell" style="text-align: center;"> 
                                                       <i class="fas fa-times-circle"></i> 
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Popup Content Will be Here -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Edit popup-->

    <!-- Department list popup -->
    <div class="wms-srv-popup-holder" id="wms-srv-Department-New-popup" style="display:none;">
        <div class="wms-srv-popup-bg">
        </div>
        <div class="wms-srv-popup">
            <div class="wms-srv-popup-content">
                <div class="wms-srv-popup-title">
                    <div class="wms-srv-page-title">
                        <i class="fas fa-user"></i><span>Department List</span>
                    </div>
                    <a href="#" title="Close" id="wms-srv-Department-New-popup-close" class="wms-srv-popup-close"><i
                            class="fas fa-times-circle"></i></a>
                </div>
                <button class="wms-srv-input wms-srv-button wms-srv-highlight-btn" title="Department List" id=""
                    type="button" onclick="opendepartmentpopup1();" style="float: right;"><span>Department List</span>
                </button>
                <br>
                <br>
                <div class="wms-srv-popup-content-body" id="wms-srv-popup-content-body">
                    <div class="wms-srv-grid-holder" id="">
                        <div class="wms-srv-grid">
                            <div class="wms-srv-grid-header">
                                <div class="wms-srv-grid-cell" style="text-align: center;">Department</div>
                                <div class="wms-srv-grid-cell" style="text-align: center;">Department Code</div>
                                <div class="wms-srv-grid-cell" style="text-align: center;">Auto Cancel</div>
                                <div class="wms-srv-grid-cell" style="text-align: center;">E-Commerce</div>
                                <div class="wms-srv-grid-cell" style="text-align: center;">Price Change</div>
                                <div class="wms-srv-grid-cell" style="text-align: center;">Active</div>
                                <div class="wms-srv-grid-cell" style="text-align: center;">Action</div>
                            </div>
                            <div class="wms-srv-grid-row" style="text-align: center;">
                                <div class="wms-srv-grid-cell">VFQ5234ONL</div>
                                <div class="wms-srv-grid-cell">VFQ5234ONL</div>
                                <div class="wms-srv-grid-cell">NO</div>
                                <div class="wms-srv-grid-cell">YES</div>
                                <div class="wms-srv-grid-cell">NO</div>
                                <div class="wms-srv-grid-cell">YES</div>
                                <div class="wms-srv-grid-cell">
                                    <i class="fas fa-times-circle"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Department list popup -->

</div>