<div id="pnlImportPrice" class="wmsMasterTypePage" style="display: block;">
    <input type="hidden" value="" id="hdnImportSessionId" />
    <div class="wms-srv-content-area pnlInbound" id="pnlAppointmentList">
        <div class="wms-srv-page-title">
            <i class="fas fa-file-import"></i> <span class="wms-srv-data-title">Import Excel Wizard</span>
        </div>
        <hr style="border-bottom: 2px dashed #636363;">

        <div class="WMSImportWizard">
            <hr class="WmsImport_Wizard_Steps_Line">
            <div class="WmsImport_Wizard_Steps">
                <div id="step_filetype" class="WmsImport_Wizard_Steps_Holder activeStep">
                    <div class="stepsNumberHolder" style="background-color: #6ebf49;">
                        <span><i class="fas fa-file"></i>
                        </span>
                    </div>
                    <div class="stepsLable">File Type</div>
                </div>
                <div id="step_mapcolumns" class="WmsImport_Wizard_Steps_Holder">
                    <div class="stepsNumberHolder">
                        <span><i class="fas fa-columns"></i></span>
                    </div>
                    <div class="stepsLable">Map Columns</div>
                </div>
                <div id="step_validatefile" class="WmsImport_Wizard_Steps_Holder">
                    <div class="stepsNumberHolder">
                        <span><i class="fas fa-clipboard-check"></i>
                        </span>
                    </div>
                    <div class="stepsLable">Validate File</div>
                </div>
                <div id="step_import" class="WmsImport_Wizard_Steps_Holder">
                    <div class="stepsNumberHolder">
                        <span><i class="fas fa-file-upload"></i>
                        </span>
                    </div>
                    <div class="stepsLable">Import</div>
                </div>
            </div>
            <!-- Page -->
            <div class="WMSImport_StepsPages" id="WmsPage_step_filetype">
                <!-- <div class="WmsImport_Title" style="color: #6ebf49;">
                    <div class="themeWMSAjaxTabPageTitle" style="color: #6ebf49;"><span>Import Excel Wizard</span></div>
                </div> -->
                <!-- Bootstrap Code Starts Here -->
                <div class="container-fluid">
                    <!-- Row Start -->
                    <div class="row">
                        <div class="col-lg-4" style="display:none;">
                            <!-- Cell Content -->
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-4">
                                        <!-- Label -->
                                        <req> Company </req>
                                        :
                                        <!-- Label -->
                                    </div>
                                    <div class="col-md-8">
                                        <!-- Control -->
                                        <select name="ctl00$CPHolder_Form$ddlcompanymain" id="ddlcompanymain"
                                            class="inputElement notranslate" onchange="GetCustomer()"
                                            onblur="validateCtl(this);" style="width:187px;">

                                        </select>
                                        <span id="ctl00_CPHolder_Form_RequiredFieldValidator3"
                                            style="color:Maroon;display:none;"></span>
                                        <!-- Control -->
                                    </div>
                                </div>
                            </div>
                            <!-- Cell Content -->
                        </div>
                        <div class="col-lg-4">
                            <!-- Cell Content -->
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-4">
                                        <!-- Label -->
                                        <req>Customer</req>
                                        :
                                        <!-- Label -->
                                    </div>
                                    <div class="col-md-8">
                                        <!-- Control -->
                                        <select name="ctl00$CPHolder_Form$ddlcustomer" id="ddlcustomer"
                                            class="inputElement notranslate" onblur="validateCtl(this);"
                                            style="width:187px;">
                                            <option value="0">-Select-</option>
                                            <option value="10204">Vodafone Commercial</option>

                                        </select>

                                        <span id="ctl00_CPHolder_Form_RFVddlCompany" style="display:none;"></span>
                                        <!-- Control -->
                                    </div>
                                </div>
                            </div>
                            <!-- Cell Content -->
                        </div>
                    </div>
                </div>
                <!-- Bootstrap Code Ends Here -->
                <div class="WmsImport_TypeHolder">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-4">
                                <!-- Export to Excel -->
                                <div class="WmsImport_Type" data-type="Excel" style="opacity:1; cursor:pointer;">
                                    <div class="WmsImport_Icon">
                                        <i class="fas fa-file-excel"></i>
                                    </div>
                                    <div class="WmsImport_Description">
                                        Excel Import
                                    </div>
                                </div>
                                <!-- Export to Excel -->
                                <div class="WmsImport_DownloadTemplate" style="opacity:1;">
                                    <a href="#" style="background-color: #6ebf49;" class="wmsWizNavNext wmsWizNavActive"
                                        onclick="downloadTemplate('excel');return false;"><i
                                            class="fas fa-download"></i> Download Template</a>
                                </div>
                            </div>
                            <div class="col-md-4">

                            </div>
                            <div class="col-md-4">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="WmsImport_NavHolder" style="display:none;">
                    <a id="ctl00_CPHolder_Form_wizSetupBack" class="wmsWizNavBack"
                        href="javascript:__doPostBack('ctl00$CPHolder_Form$wizSetupBack','')">
                        <i class="fas fa-arrow-alt-circle-left"></i>Back
                    </a>
                    <a id="ctl00_CPHolder_Form_wizSetupNext" class="wmsWizNavNext wmsWizNavActive"
                        href="javascript:__doPostBack('ctl00$CPHolder_Form$wizSetupNext','')">
                        Next<i class="fas fa-arrow-alt-circle-right"></i>
                    </a>
                </div>
            </div>
            <!-- Page -->
            <div class="WMSImport_StepsPages" id="WmsPage_step_mapcolumns" style="display: none;">
                <div class="WmsImport_Title">
                    <div class="themeWMSAjaxTabPageTitle"><i class="fas fa-columns"></i><span>Select file / Map
                            Columns</span></div>
                </div>
                <div class="WMSImport_FileForm" id="WMSImport_FileForm">
                    <!-- Bootstrap Code Starts Here -->
                    <div class="container-fluid">
                        <!-- Row Start -->
                        <div class="row" style="display: none;">
                            <div class="col-lg-4">
                                Total File:
                                <div id="fileNum"></div>
                            </div>
                            <div class="col-lg-4">
                                File Size:
                                <div id="fileSize"></div>
                            </div>
                            <div class="col-lg-4">
                                File Output:
                                <div id="fileOutput"></div>
                            </div>
                        </div>
                        <!-- Row End -->
                    </div>
                    <!-- Bootstrap Code Ends Here -->
                    <!-- Drag Drop Files -->
                    <div class="WMSdragDropHolder" ondrop="drop(event)" ondragover="allowDrop(event)"
                        onmouseout="removeDrop(event)">
                        <div class="WMSdragDropPanel">
                            <div class="WMSdragDropLabel">
                                Drag and drop files here to import
                            </div>
                        </div>
                    </div>
                    <div class="WMSDefaultFileCtrl">Or use default file uploader <input type="file"
                            name="ctl00$CPHolder_Form$txtFile" id="txtFile" onchange="setFile(this);"></div>
                    <!-- Drag Drop Files -->
                </div>
                <div id="fileHeaderContainer" class="fileHeaderContainer" style="display: none;">
                    <div class="row">
                        <div class="col-lg-12">
                            <!-- <hr /> -->
                            <b>Sort or Remove column to adjust your header as per template header. <a href="#"
                                    id="lnkMapHeader" onclick="mapHeaderColumn();return false;"
                                    class="wmsWizNavNext wmsWizNavActive lnkMapHeader">Map Header</a> </b>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 sortableHeaderHolder">
                            Template Header
                        </div>
                        <div class="col-lg-6 sortableHeaderHolder">
                            Your Data Header
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <!-- Column Mapping Table -->
                            <ul id="templateHeader">
                            </ul>
                            <!-- Column Mapping Table -->
                        </div>
                        <div class="col-lg-6">
                            <!-- Column Mapping Table -->
                            <ul id="sortable">
                            </ul>
                            <!-- Column Mapping Table -->
                        </div>
                    </div>
                </div>

            </div>
            <!-- Page -->
            <!-- Page -->
            <div class="WMSImport_StepsPages" id="WmsPage_step_validatefile" style="display: none;">
                <div class="WmsImport_Title" id="WmsImport_Title_Validate">
                    <div class="themeWMSAjaxTabPageTitle"><i class="fas fa-clipboard-check"></i><span>Validate
                            File</span></div>
                </div>

                <div id="wmsImportCountHolder" class="wmsImportCountHolder wmsDashboardCountHolder">
                    <div class="wmsDashboardCountBoxHolder" id="divWmsCompletedCount">
                        <div class="wmsDashboardCountBox" style="cursor: pointer;">
                            <div class="wmsDashboardCountIcon" style="background-color:#548235;">
                                <i class="fas fa-check-circle" style="color:#ffffff"></i>
                            </div>
                            <div class="wmsDashboardCountContent">
                                <div class="wmsDashboardCount" id="wmsCompletedCount">0</div>
                                <div class="wmsDashboardCountLabel">Valid Records</div>
                            </div>
                        </div>
                    </div>&nbsp;
                    <div class="wmsDashboardCountBoxHolder" id="divWmsErrorCount">
                        <div class="wmsDashboardCountBox" style="cursor:pointer;">
                            <div class="wmsDashboardCountIcon" style="background-color:#c82a2a;">
                                <i class="fas fa-times-circle"></i>
                            </div>
                            <div class="wmsDashboardCountContent" style="cursor:pointer;">
                                <div class="wmsDashboardCount" id="wmsErrorCount">0</div>
                                <div class="wmsDashboardCountLabel">Total Error</div>
                            </div>
                        </div>
                    </div>&nbsp;
                    <div class="wmsDashboardCountBoxHolder" id="divWmsWarningCount">
                        <div class="wmsDashboardCountBox" style="cursor:pointer;">
                            <div class="wmsDashboardCountIcon" style="background-color:#ffc000;">
                                <i class="fas fa-equals"></i>
                            </div>
                            <div class="wmsDashboardCountContent">
                                <div class="wmsDashboardCount" id="wmsWarningCount">0</div>
                                <div class="wmsDashboardCountLabel">Total Row</div>
                            </div>
                        </div>
                    </div>&nbsp;
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <!-- Error Panel -->
                            <div class="validationHolder" id="validationHolder">
                                <!-- Row Start -->
                                <div class="validationHolderRow">
                                    <div class="validationHolderCell">
                                        <div class="validationMessage" id="validationMessage">
                                            Your file contains 3 errors on first page. Kindly fix it before processing
                                            import.
                                        </div>
                                    </div>
                                    <div class="validationHolderCell" style="width: 100px;">
                                        <a href="#" id="lnkValidateCorrection"
                                            onclick="validateTableData();return false;"
                                            class="wmsWizNavNext wmsWizNavActive">
                                            <i class="fas fa-check-circle"></i>Validate
                                        </a>
                                        <a href="#" id="lnkUploadImportData" onclick="return false;"
                                            class="wmsWizNavNext wmsWizNavActive">
                                            <i class="fas fa-check-circle"></i>Upload
                                        </a>
                                    </div>

                                    <div class="validationHolderCell">
                                        <a href="#" id="lnkcancel" onclick="cancleImport();return false;"
                                            class="wmsWizNavNext wmsWizNavActive">
                                            <i class="far fa-times-circle"></i> cancel
                                        </a>

                                        <a href="#" id="lnkfinish" onclick="FinishImport();return false;"
                                            class="wmsWizNavNext wmsWizNavActive" style="visibility:hidden">
                                            <i class="far fa-times-circle"></i>Finish
                                        </a>
                                    </div>
                                </div>
                                <!-- Row End -->
                            </div>
                            <!-- Error Panel -->
                        </div>
                        <div class="col-md-3" style="display:none">
                            <div class="WMSFilterPanel">
                                Filter:
                                <select id="WMSFilterOption" class="inputElement notranslate"
                                    onchange="filterDataTable();">
                                    <option value="showAll">Show All</option>
                                    <option value="completedDataOnly">Show Completed/Valid Data Only</option>
                                    <option value="errorDataOnly">Show Error Data Only</option>

                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="WMSImportTableHolder" style="width:600px;height:500px;overflow:auto;">
                    <table border="1" class="WMSImportTable" id="WMSImportTable" width="100%">
                    </table>
                </div>
            </div>
            <!-- Page -->
            <!-- Page -->
            <div class="WMSImport_StepsPages" id="WmsPage_step_import" style="display: none;">
                <div class="WmsImport_Title">
                    <div class="themeWMSAjaxTabPageTitle"><i class="fas fa-file-upload"></i><span>Import Data</span>
                    </div>
                </div>
                <div id="prgImportCountHolder" class="wmsImportCountHolder wmsDashboardCountHolder">
                    <div class="wmsDashboardCountBoxHolder" id="prgWmsCompletedCount">
                        <div class="wmsDashboardCountBox">
                            <div class="wmsDashboardCountIcon" style="background-color:#548235;">
                                <i class="fas fa-check-circle" style="color:#ffffff"></i>
                            </div>
                            <div class="wmsDashboardCountContent">
                                <div class="wmsDashboardCount" id="prgCompletedCount">0</div>
                                <div class="wmsDashboardCountLabel">Completed Record </div>
                            </div>
                        </div>
                    </div>&nbsp;
                    <div class="wmsDashboardCountBoxHolder" id="prgWmsErrorCount">
                        <div class="wmsDashboardCountBox">
                            <div class="wmsDashboardCountIcon" style="background-color:#c82a2a;">
                                <i class="fas fa-times-circle"></i>
                            </div>
                            <div class="wmsDashboardCountContent">
                                <div class="wmsDashboardCount" id="prgErrorCount">0</div>
                                <div class="wmsDashboardCountLabel">Total Error</div>
                            </div>
                        </div>
                    </div>&nbsp;
                    <div class="wmsDashboardCountBoxHolder" id="prgWmsWarningCount">
                        <div class="wmsDashboardCountBox">
                            <div class="wmsDashboardCountIcon" style="background-color:#ffc000;">
                                <i class="fas fa-equals"></i>
                            </div>
                            <div class="wmsDashboardCountContent">
                                <div class="wmsDashboardCount" id="prgWarningCount">0</div>
                                <div class="wmsDashboardCountLabel">Total Row</div>
                            </div>
                        </div>
                    </div>&nbsp;
                </div>
                <div class="WMSProgressLabel">
                    <span class="WMSPercentProgress">0% Done </span>
                    <span class="WMSProgressSubLabel">Wait while your data upload is in progress...</span>
                </div>
                <div class="WMSProgressBar">
                    <div id="WMSProgressBarStatus" class="WMSProgressBarStatus" style="width:0%;"></div>
                </div>

            </div>
            <!-- Page -->
        </div>
    </div>
    <textarea id="txtCSVdata" style='width:1px;height:1px;position:absolute;overflow:hidden;'>
        </textarea>
    <div id="WMSDataCalendar" class="WMSDataCalendar"></div>
</div>