
<div id="pnlSkuSearch" class="wmsMasterTypePage" style="display: none;">
    <div class="wms-srv-content-area pnlInbound">
        <!-- Dashboard Area -->
        <div class="container-fluid wms-srv-dashboard-panel">
            <div class="row">
                <div class="col-md-4 nopadding">
                    <!-- Page Title -->
                    <div class="wms-srv-page-title">
                        <i class="fas fa-user"></i><span class="wms-srv-data-title">SKU Search</span>
                    </div>
                    <!-- Page Title -->
                </div>
                <div class="col-md-8 nopadding">
                </div>
            </div>
        </div>
        <!-- Dashboard Area -->
        <!-- Head Grid -->
        <div class="wms-srv-grid-holder pnlWmsHead" id="pnlWmsHead" style="display: none;">
            <div class="wms-srv-grid">
                <!-- Object Head Data Will be Here -->
            </div>
        </div>
        <br>
        <!-- Head Grid -->
        <!-- Grid -->
        <div class="" style="margin-left: 41px;">
            <label style="font-weight: bold;">Select Customer: </label>
            <select id="" class="" onchange="" style="width:182px;">
				<option value="0">-Select-</option>
				<option value="10287">ABcust1</option>
				<option value="10290">Abhijit Contact</option>
				<option value="10295">Abhijit Customer ecommerce</option>
				<option value="10289">Abhijit_Customer</option>
				<option value="10296">Abhjit Customer ecomm</option>
				<option value="10305">AKCUST</option>
				<option value="10299">AMCustomer</option>
				<option value="10298">BalajiGWC</option>
				<option value="10301">Brilliant Technical</option>
				<option value="10274">Brillint_Info</option>
				<option value="10281">CDS GWC</option>
				<option value="10278">chetan infosys</option>
				<option value="10314">CUST_DUMMY</option>
				<option value="10315">CUST_DUMMY1</option>
				<option value="10316">CUSTGK</option>
				<option value="10286">customer1</option>
				<option value="10288">customer2</option>
				<option value="10223">Deliopolise</option>
				<option value="10280">DELL</option>
				<option value="10279">DSK HOMES</option>
				<option value="10313">DUMMY</option>
				<option value="10311">Galib</option>
				<option value="10312">Galib_Test</option>
				<option value="10252">GPS</option>
				<option value="10272">GPTEST</option>
				<option value="10308">GvbTest</option>
				<option value="10233">GWC ECOMMERCE</option>
				<option value="10253">GWC GPS</option>
				<option value="10202">GWC Test</option>
				<option value="10322">GWC@123</option>
				<option value="10320">GWC@Testing </option>
				<option value="10257">GWC_HMC</option>
				<option value="10319">GWCTesting</option>
				<option value="10266">MTEST</option>
				<option value="10277">OMS_WMS PVT Ltd</option>
				<option value="10276">OMS_WMS_Company pvt ltd</option>
				<option value="10284">OPtest</option>
				<option value="10318">ORDERGK</option>
				<option value="10285">OSPtest</option>
				<option value="10294">PCC</option>
				<option value="10293">Pooja_D</option>
				<option value="10291">PoojaD</option>
				<option value="10297">PoojaE-com</option>
				<option value="10273">QAcustmer</option>
				<option value="10206">Qafco</option>
				<option value="10140">QNBN</option>
				<option value="10302">RJCustomer</option>
				<option value="10282">RMS</option>
				<option value="10275">SJCustomer</option>
				<option value="10271">SJTEST</option>
				<option value="10303">SK CUST</option>
				<option value="10304">SK CUST1</option>
				<option value="10292">Suraj Cust</option>
				<option value="10300">TATAneo</option>
				<option value="10321">Test GWC</option>
				<option value="10310">Test_Customer@99</option>
				<option value="10283">TestC0709</option>
				<option value="10306">TEstCompany</option>
				<option value="10307">TestCustomer</option>
				<option value="10317">TESTGK</option>
				<option value="10261">Testvodafone2</option>
				<option value="10309">TusharW</option>
				<option value="10204">Vodafone Commercial</option>
				<option value="10153">Vodafone Technical</option>

			</select>&nbsp;&nbsp;
            <label style="font-weight: bold;">Select Department: </label>
            <select  id="" style="width:182px;">
                <option value="0">-Select-</option>
                <option value="10287">ABcust1</option>
                <option value="10290">Abhijit Contact</option>
                <option value="10295">Abhijit Customer ecommerce</option>
                <option value="10289">Abhijit_Customer</option>
                <option value="10296">Abhjit Customer ecomm</option>
                <option value="10305">AKCUST</option>
                <option value="10299">AMCustomer</option>
                <option value="10298">BalajiGWC</option>
                <option value="10301">Brilliant Technical</option>
                <option value="10274">Brillint_Info</option>
                <option value="10281">CDS GWC</option>
                <option value="10278">chetan infosys</option>
                <option value="10314">CUST_DUMMY</option>
                <option value="10315">CUST_DUMMY1</option>
                <option value="10316">CUSTGK</option>
                <option value="10286">customer1</option>
                <option value="10288">customer2</option>
                <option value="10223">Deliopolise</option>
                <option value="10280">DELL</option>
                <option value="10279">DSK HOMES</option>
                <option value="10313">DUMMY</option>
                <option value="10311">Galib</option>
                <option value="10312">Galib_Test</option>
                <option value="10252">GPS</option>
                <option value="10272">GPTEST</option>
                <option value="10308">GvbTest</option>
                <option value="10233">GWC ECOMMERCE</option>
                <option value="10253">GWC GPS</option>
                <option value="10202">GWC Test</option>
                <option value="10322">GWC@123</option>
                <option value="10320">GWC@Testing </option>
                <option value="10257">GWC_HMC</option>
                <option value="10319">GWCTesting</option>
                <option value="10266">MTEST</option>
                <option value="10277">OMS_WMS PVT Ltd</option>
                <option value="10276">OMS_WMS_Company pvt ltd</option>
                <option value="10284">OPtest</option>
                <option value="10318">ORDERGK</option>
                <option value="10285">OSPtest</option>
                <option value="10294">PCC</option>
                <option value="10293">Pooja_D</option>
                <option value="10291">PoojaD</option>
                <option value="10297">PoojaE-com</option>
                <option value="10273">QAcustmer</option>
                <option value="10206">Qafco</option>
                <option value="10140">QNBN</option>
                <option value="10302">RJCustomer</option>
                <option value="10282">RMS</option>
                <option value="10275">SJCustomer</option>
                <option value="10271">SJTEST</option>
                <option value="10303">SK CUST</option>
                <option value="10304">SK CUST1</option>
                <option value="10292">Suraj Cust</option>
                <option value="10300">TATAneo</option>
                <option value="10321">Test GWC</option>
                <option value="10310">Test_Customer@99</option>
                <option value="10283">TestC0709</option>
                <option value="10306">TEstCompany</option>
                <option value="10307">TestCustomer</option>
                <option value="10317">TESTGK</option>
                <option value="10261">Testvodafone2</option>
                <option value="10309">TusharW</option>
                <option value="10204">Vodafone Commercial</option>
                <option value="10153">Vodafone Technical</option>
             </select>&nbsp;&nbsp; 
             <label style="font-weight: bold;">Product Code: </label>
            <select id="" class="" onchange="" style="width:182px;">
				<option value="0">-Select-</option>
				<option value="">GWCecom</option>
				<option value="">GWCecom</option>
				<option value="">GWCecom ecommerce</option>
			</select>&nbsp;&nbsp;
             <button class="wms-srv-input" title="Submit" data-prefix="AN"
             type="button" onclick="" style="color: white;background-color: #6ebf49;">
             <span>Submit</span>
         </button>  
        </div><br>
        <div class="wms-srv-obj-main-grid pnlWmsDetail">
            <div class="wms-srv-grid-action-panel">
                <div class="wms-srv-grid-common-action">
                    <a href="#" class="wms-srv-icononly">
                        <i class="fas fa-list"></i>
                    </a>
                </div>
                <div class="wms-srv-grid-title">
                    SKU List
                </div>
            </div>
            <div class="wms-srv-grid-scroller">
                <div class="wms-srv-grid" id="">
                    <div class="wms-srv-grid-header">
                        <div class="wms-srv-grid-cell">Product Code</div>
                        <div class="wms-srv-grid-cell">Product Name</div>
                        <div class="wms-srv-grid-cell">Description</div>
                        <div class="wms-srv-grid-cell">Group Set</div>
                        <div class="wms-srv-grid-cell">Availble Balence</div>
                    </div>
                    <div class="wms-srv-grid-row">
                        <div class="wms-srv-grid-cell">GWCecom</div>
                        <div class="wms-srv-grid-cell">G1sku78</div>
                        <div class="wms-srv-grid-cell">Item</div>
                        <div class="wms-srv-grid-cell">No</div>
                        <div class="wms-srv-grid-cell">0.00</div>
                    </div>
                    <div class="wms-srv-grid-row">
                        <div class="wms-srv-grid-cell">GWCecom</div>
                        <div class="wms-srv-grid-cell">G1sku78</div>
                        <div class="wms-srv-grid-cell">Item</div>
                        <div class="wms-srv-grid-cell">No</div>
                        <div class="wms-srv-grid-cell">0.00</div>
                    </div>
                    <div class="wms-srv-grid-row">
                        <div class="wms-srv-grid-cell">GWCecom</div>
                        <div class="wms-srv-grid-cell">G1sku78</div>
                        <div class="wms-srv-grid-cell">Item</div>
                        <div class="wms-srv-grid-cell">No</div>
                        <div class="wms-srv-grid-cell">0.00</div>
                    </div>
                    <div class="wms-srv-grid-row">
                        <div class="wms-srv-grid-cell">GWCecom</div>
                        <div class="wms-srv-grid-cell">G1sku78</div>
                        <div class="wms-srv-grid-cell">Item</div>
                        <div class="wms-srv-grid-cell">No</div>
                        <div class="wms-srv-grid-cell">0.00</div>
                    </div>
                 </div>
            </div>
        </div>
        <!-- Grid -->
    </div>
    <!-- ALL POPUP AREA -->
</div>