<!-- Content Holder -->
<div class="wms-srv-content-area pnlTransfer" id="pnlAppointmentList">
    <!-- Content Area -->

    <div class="container-fluid wms-srv-dashboard-panel">
        <div class="row">
            <div class="col-md-4 nopadding">
                <!-- Page Title -->
                <div class="wms-srv-page-title">
                    <i class="fas fa-exchange-alt"></i><span class="wms-srv-data-title">Transfer</span>
                </div>
                <!-- Page Title -->
            </div>
            <div class="col-md-8 nopadding">
            </div>
        </div>
    </div>
    <br>
    <!-- Head Grid -->
    <!-- Tab for Transfer -->
    <div class="transferMenuItems">
        <div class="container" style="max-width: 100% !important;">
            <div class="row">
                <div class="col-md-6">
                    <a class="listTab listActiveTab" data-tab="Transfer"><i class="fas fa-exchange-alt"></i> Transfer List</a>
                </div>
                <div class="col-md-6">
                    <a class="listTab" data-tab="SkuConversion"><i class="fas fa-boxes"></i> SKU Conversion</a>
                </div>
            </div>
        </div>
    </div>
</div>